<p>Hi <%= @user.email %></p>

<p>Here is your poem</p>
<h1> <%= @poem.title %></h1>
<% @poem.body.each do |line| %>
  <p><%= line %></p>
<% end %>
<p><strong><%= @poem.poet %></strong></p>
<br>
<a href="<%= @poem.reference %>">Read the poem on Poetry Foundation</a>
<%= link_to "Read the poem on Poemic", poem_path(@poem) %>

<p>See ya!</p>
